<footer class="container py-5" id="contact">
  <div class="row text-center">
    <div class="col-md">
      Nação Vegana Brasil
      <small class="d-block mb-3 text-muted">&copy; 2018</small>
    </div>
    <div class="col-md">
      <p i18n="@@socialNetworkTitle">Redes Sociais</p>
      <div class="d-block mb-3 contact-icons">
        <a href="https://www.facebook.com/nacaoveganabrasil/" target="_blank" rel="external">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/nacaoveganabrasil/" target="_blank" rel="external">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/channel/UC4GBZkwwyX8u8dr8GHi1ftg" target="_blank" rel="external">
          <i class="fab fa-youtube"></i>
        </a>
      </div>

    </div>
  </div>
</footer>
