<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-sm-row justify-content-between">
    <a class="py-2 home" (click)="scroll('home')" i18n="@@home">Home</a>
    <a class="py-2 d-none d-sm-inline-block" (click)="scroll('documentary')" i18n="@@documentary">Documentário</a>
    <a class="py-2 d-none d-sm-inline-block" (click)="scroll('petitions')" i18n="@@petitions">Petições</a>
    <a class="py-2 d-none d-sm-inline-block" (click)="scroll('documents')" i18n="@@documents">Documentos</a>
    <a class="py-2 d-none d-sm-inline-block" (click)="scroll('contact')" i18n="@@contact">Contato</a>
    <div class="py-2 d-none d-sm-inline-block">
      <select class="custom-select custom-select-sm" name="language" id="langSelect">
        <option i18n="@@language">Idioma</option>
        <option value="pt" (click)="navigateTo('')">pt</option>
        <option value="en" (click)="navigateTo('en')">en</option>
      </select>
    </div>
  </div>
</nav>
