<div class="flex-md-equal w-100 my-md-6 pl-md-6" id="petitions">
  <div class="bg-dark pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3 mx-auto text-white " style="width: 80%">
      <h3>Petições</h3>
    </div>
    <div class="mx-auto petitions text-white">
      <p *ngFor="let petition of petitions">
        {{petition.text}}
        <strong>{{petition.hashTag}}</strong>
        <a class="btn btn-sm btn-danger" href="{{petition.url}}" target="_blank" rel="external">Apoie!</a>
      </p>
    </div>
  </div>
</div>
