<div class="flex-md-equal w-100 my-md-6 pl-md-6" id="petitions">
  <div class="bg-dark pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3 mx-auto text-white " style="width: 80%">
      <h3>Petições</h3>
    </div>
    <div class="mx-auto petitions text-white">
      <p>Pelo fim da exportação de animais nos portos do estado de São Paulo
        <strong>#NãoExportemVidas</strong>:
        <a class="btn btn-sm btn-danger" href="https://www.change.org/p/pelo-fim-da-exporta%C3%A7%C3%A3o-cruel-de-animais-em-portos-do-estado-de-s%C3%A3o-paulo-n%C3%A3oexportemvidas"
          target="_blank" rel="external">Apoie!</a>
      </p>
    </div>
  </div>
</div>
